{% load i18n %}
{% load static %}
{% load filter_tags %}

{% for credential in credentials %}
<div class="modal micromodal-slide" id="modal-{{ credential.referent }}" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ credential.referent }}-title"
			 style="width:auto;height:auto;">
			<header class="modal__header">
				{% if credential.state == 'credential_revoked' %}
						<h2 class="modal__title" style="color:red" id="modal-{{ credential.referent }}-title"><i class="fa fa-thumbs-down" aria-hidden="true"></i></h2>
				{% else %}
						<h2 class="modal__title" id="modal-{{ credential.referent }}-title"><i class="fa fa-thumbs-up" aria-hidden="true"></i></h2>
				{% endif %}
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="modal-{{ credential.referent }}-content" >
					{% for x, y in credential.attrs.items|dictsort:"0.lower" %}
					{% if  x != "pubkey" %}
                    	<p class="w3-medium"  style="line-height: 2; text-align: justify;"><b>{% trans x|upper %}</b>: {{ y }}</p>
					{% endif %}
                    {% endfor %}
				<footer>
					<br><center>
<!--					{{ credential.schema_id }} -->
					<img src="/static/serpro/o_{{ credential.schema_id }}.png" title = "o_{{ credential.schema_id }}"  alt = "o_{{ credential.schema_id }}"/>
					</center>
				</footer>
		</div>
	</div>
</div>
{% endfor %}
