{% load i18n %}
{% load static %}
{% load filter_tags %}

{% for connection in connections %}
<div class="modal micromodal-slide" id="modal-{{ connection.guid }}" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ connection.guid }}-title"
			 style="width:auto;height:auto;">
			<header class="modal__header">
				<h2 class="modal__title" id="modal-{{ connection.guid }}-title"><i class="fa fa-user" aria-hidden="true"></i></h2>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="modal-{{ connection.guid }}-content">
             <form method="POST" action="{% url 'credential_proposal' %}" enctype="multipart/form-data" autocomplete="off">
							{% csrf_token %}
							<div>
							    <input type="hidden" name="credential_name" value={{connection.partner_name}}-o_{{connection.partner_name}}>
							    <input type="hidden" name="connection_id" value={{connection.guid}}>
							    <input type="hidden" name="partner_name" value={{connection.partner_name}}>
                            </div>
                            {% for attr in schema_attrs %}
								<div>
									<label style='font-size:12px;display: inline-block;width: 150px;' class='f6 b db mb2 js-name' for={{ attr }}><b>{{ attr }}:</b></label>
									<input style="min-width:350px;" size='60' type='text' name=schema_attr_{{ attr }} maxlength='150' id={{ attr }}>
								</div>
                            {% endfor %}

							<center>
								<center><button class='btn' type="submit">{% trans "Send" %}</button></center>
							</center>
			</form>
		</div>
	</div>
</div>
{% endfor %}
