{% load i18n %}
{% load static %}
{% load filter_tags %}

{% for credential in credentials %}
<div class="modal micromodal-slide" id="key-{{ credential.referent }}" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="key-{{ credential.referent }}-title"
			 style="width:auto;height:auto;">
			<header class="modal__header">
				<h2 class="modal__title" style="color:blue" id="key-{{ credential.referent }}-title"><i class="fa fa-key" aria-hidden="true"></i></h2>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="key-{{ credential.referent }}-content">
					{% for x, y in credential.attrs.items %}
					{% if  x == "pubkey" %}
                    	<p class="w3-medium"  style="text-align: justify;"><b>{{ x }}</b>:{{ y }}</p>
					{% endif %}
                    {% endfor %}
		</div>
	</div>
</div>
{% endfor %}
