{% load i18n %}
{% load static %}

<body class="w3-white">
<div class="w3-white" style="margin-left:300px; margin-top: 50px;">

<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-thermometer-empty"></i>{% trans "Activity" %}</b></h5>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          google.charts.setOnLoadCallback(drawChartProof);
          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Number');
            data.addColumn('number', 'Number/10');
            data.addRows( {{ data|safe }} );

            var options = {
              title: '',
              pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
          }

      </script>
</header>
<div>
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-8">
          <div class="w3-left" style="color:white"><i class="fa fa-share-alt w3-xxlarge"></i></div>
          <div class="w3-right">
            <h3>{{ count_connections }}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>{% trans "Connections" %}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-green w3-padding-8">
        <div class="w3-left" style="color:white"><i class="fa fa-address-card w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ count_credentials }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{% trans "Credentials" %}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-8">
        <div class="w3-left" style="color:white"><i class="fa fa-handshake-o w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ presentation_acked }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{% trans "Proofs" %}</h4>
      </div>
    </div>
</div>
<div>
    {% if count_connections != 0 %}
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-thermometer-empty"></i>{% trans "Messages" %}</b></h5>
        </header>
        <div id="donutchart" style="width: 800px; height: 400px;"></div>
    {% endif %}



