{% load i18n %}
{% load static %}

<body class="w3-white">
        <div class="w3-white" style="margin-left:0px; margin-top: 50px;">
<div class="w3-container">


<div class="w3-container w3-white" style="font-size: 10px">
            	<h4>{% trans "Credentials" %}
            	<table class="blueTable">
                    <thead>
                    <tr>
                        <th style="width:200px"><center>GUID</th></center>
                        <th style="width:50px"><center>Organização</th></center>
                        <th style="width:200px"><center>{% trans "Status" %}</th></center>
                        <th style="width:10px"><center>{% trans "Operation" %}</th></center>
                    </tr>
                    </thead>

	            <tbody>
                {% for credential in credentials %}
                <tr>
                        <td>
							</i><a data-toggle="modal" data-custom-open='modal-{{ credential.referent }}'>
                            {{ credential.referent }}</a>
						</td>
                        <td></i>{{ credential.schema_id|title }}</a>
						</td>
                         {% if credential.state == 'credential_revoked' %}
                            <td>{% trans "Revoked" %}</h4></td>
                         {% else %}
                            <td>{% trans "Valid" %}</td>
                        {% endif %}
                        <td>
                            <button  style="height:20px;width:30px" title={% trans "View" %} data-custom-open='modal-{{ credential.referent }}'> <class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye"></i></button>
                            {% if credential.schema_id  ==  settings.ONBOARD.ORG  %}
                                <button  style="height:20px;width:30px;color:red;" title={% trans "Delete" %}'> <class="w3-bar-item w3-button w3-padding"><i class="fa fa-ban"></i></button>
                            {% else %}
                                <button  id={{ credential.referent }}  onclick="removeCredential(this.id)" style="height:20px;width:30px;" title={% trans "Delete" %}'> <class="w3-bar-item w3-button w3-padding"><i class="fa fa-trash"></i></button>
                            {% endif %}
                        {% for x, y in credential.attrs.items %}
					    {% if  x == "pubkey" %}

                    	    <button  style="height:20px;width:30px" title={% trans "View" %} data-custom-open='key-{{ credential.referent }}'> <class="w3-bar-item w3-button w3-padding"><i class="fa fa-key"></i></button>
					    {% endif %}
                        {% endfor %}

                        </td>
                </tr>
                </div>
                </div>
                {% endfor %}

{% include "aries/pageIncludes/credential-view.html" %}
{% include "aries/pageIncludes/credential-view-key.html" %}

<script type="text/javascript">
    MicroModal.init({
          disableScroll: true,
          disableFocus: false,
          awaitOpenAnimation: false,
          debugMode: true,
          awaitCloseAnimation: false,
          awaitOpenAnimation: false,
          disableFocus: false,
          disableScroll: true,
          openClass: 'is-open',
          openTrigger: 'data-custom-open'
    });
    function removeCredential(connection_id) {
        Swal.fire({
            title: 'Excluir credencial?',
            text: "",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Não',
            confirmButtonText: 'Sim'
        }).then((result) => {
            if (result.value) {
                 window.location = "/remove_credentials/?connection_id=" + connection_id;
        }
    })
    }
</script>